*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div a img {
    width: 20%;
}

.carousel-inner{
    max-height: 39rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrarImagen{
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}


.redes_sociales {
    display: flex;
    justify-content: center;
    width: 100%;
}

.caja{
    display: grid;
    grid-template-columns: 1fr 300px 250px;
    grid-template-rows: 600px 1fr;
    padding-bottom: 15px;
}

.caja div{
    display: flex;
    justify-content: center;
}

.caja div img{
width: 100%;
}

.caja div ul li{
    list-style-type: circle;
}

