* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div a img {
    width: 20%;
}

.carousel-inner {
    max-height: 39rem;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrarImagen {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}


.redes_sociales {
    display: flex;
    justify-content: center;
    width: 100%;
}

.caja {
    display: grid;
    grid-template-columns: 1fr 180px 180px;
    grid-template-rows: 650px;
    padding-bottom: 15px;
    background: linear-gradient(to top right, gray , white);
}

.caja div {
    display: flex;
    justify-content: center;
}

.caja div img {
    width: 100%;
}

.caja div ul li {
    list-style-type: circle;
}

@media screen and (max-width: 1023px) {
    .caja {
        display: grid;
        grid-template-columns: 1fr 150px 150px;
        grid-template-rows: 1fr;
    }

    .caja div img {
        width: 100%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 479px) {
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja div img {
        width: 300px;
        padding-bottom: 25px;
    }
}