$gradiant: linear-gradient(to top left, grey, white);
$gradiantr: linear-gradient(to top right, gray, white);

@mixin tamanos ($width, $height){
    height: $height;
    width: $width;
}

$propiedades:(
    solido: solid,
    nada: none,
    circulo: circle,
    circulorell: disc
);