@media screen and (max-width: 1023px) {
    .caja {
        display: grid;
        grid-template-columns: 1fr 150px 150px;
        grid-template-rows: 1fr;
    }

    .caja {
        div {
            iframe {
                width: 80%;
                padding-bottom: 20px;
            }
        }
    }

    .grilla {
        background: $gradiant;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 350px 250px 250px;
    }

    .cont {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
    }

    .cont2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        grid-column: 2;
        grid-row: 1;
    }

    .img2 {
        display: flex;
        justify-content: center;
        grid-column: 2;
        grid-row: 2;
    }

    .img2 {
        img {
            @include tamanos (75%, 300px)
        }
    }

    .img3 {
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
    }

    .img3{
        img{
            @include tamanos (75%, 300px)
        }
    }


    .cont3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .cont4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1;
        grid-row: 4;
    }

    .cont5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2;
        grid-row: 4;
    }
}

@media screen and (max-width: 479px) {
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja {
        div {
            iframe {
                width: 250px;
                height: 400px;
                padding-bottom: 25px;
            }
        }
    }

    .grilla {
        display: flex;
        flex-direction: column;
    }

    .img3 {
        img {
            @include tamanos (80%, auto)
        }
    }
}